In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("../data/owid-covid-data.csv")
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401063,ZWE,Africa,Zimbabwe,2024-05-08,266362.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
401064,ZWE,Africa,Zimbabwe,2024-05-09,266362.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
401065,ZWE,Africa,Zimbabwe,2024-05-10,266362.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
401066,ZWE,Africa,Zimbabwe,2024-05-11,266362.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
401067,ZWE,Africa,Zimbabwe,2024-05-12,266362.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [3]:
dfSpain=df[df["iso_code"]=="ESP"]
dfSpain=dfSpain.reset_index()
dfSpain=dfSpain.drop(columns=["index"])
dfSpain.to_csv("../data/owid-covid-data_spain.csv", index=False)
dfSpain

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,ESP,Europe,Spain,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,31.4,NaN,2.97,83.56,0.904,47558632.0,-1205.0,-12.15,-12.15,-25.441366
1,ESP,Europe,Spain,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,31.4,NaN,2.97,83.56,0.904,47558632.0,NaN,NaN,NaN,NaN
2,ESP,Europe,Spain,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,31.4,NaN,2.97,83.56,0.904,47558632.0,NaN,NaN,NaN,NaN
3,ESP,Europe,Spain,2020-01-08,NaN,0.0,NaN,NaN,0.0,NaN,...,31.4,NaN,2.97,83.56,0.904,47558632.0,NaN,NaN,NaN,NaN
4,ESP,Europe,Spain,2020-01-09,NaN,0.0,NaN,NaN,0.0,NaN,...,31.4,NaN,2.97,83.56,0.904,47558632.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1585,ESP,Europe,Spain,2024-05-08,13980340.0,NaN,NaN,121852.0,NaN,NaN,...,31.4,NaN,2.97,83.56,0.904,47558632.0,NaN,NaN,NaN,NaN
1586,ESP,Europe,Spain,2024-05-09,13980340.0,NaN,NaN,121852.0,NaN,NaN,...,31.4,NaN,2.97,83.56,0.904,47558632.0,NaN,NaN,NaN,NaN
1587,ESP,Europe,Spain,2024-05-10,13980340.0,NaN,NaN,121852.0,NaN,NaN,...,31.4,NaN,2.97,83.56,0.904,47558632.0,NaN,NaN,NaN,NaN
1588,ESP,Europe,Spain,2024-05-11,13980340.0,NaN,NaN,121852.0,NaN,NaN,...,31.4,NaN,2.97,83.56,0.904,47558632.0,NaN,NaN,NaN,NaN
1589,ESP,Europe,Spain,2024-05-12,13980340.0,NaN,NaN,121852.0,NaN,NaN,...,31.4,NaN,2.97,83.56,0.904,47558632.0,NaN,NaN,NaN,NaN

In [4]:
dfPoland=df[df["iso_code"]=="POL"]
dfPoland=dfPoland.reset_index()
dfPoland=dfPoland.drop(columns=["index"])
dfPoland.to_csv("../data/owid-covid-data_poland.csv", index=False)
dfPoland

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,POL,Europe,Poland,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,33.1,NaN,6.62,78.73,0.88,39857144.0,-337.9,-3.84,-3.84,-8.792983
1,POL,Europe,Poland,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,33.1,NaN,6.62,78.73,0.88,39857144.0,NaN,NaN,NaN,NaN
2,POL,Europe,Poland,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,33.1,NaN,6.62,78.73,0.88,39857144.0,NaN,NaN,NaN,NaN
3,POL,Europe,Poland,2020-01-08,NaN,0.0,NaN,NaN,0.0,NaN,...,33.1,NaN,6.62,78.73,0.88,39857144.0,NaN,NaN,NaN,NaN
4,POL,Europe,Poland,2020-01-09,NaN,0.0,NaN,NaN,0.0,NaN,...,33.1,NaN,6.62,78.73,0.88,39857144.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1585,POL,Europe,Poland,2024-05-08,6662631.0,0.0,15.714,120711.0,0.0,0.0,...,33.1,NaN,6.62,78.73,0.88,39857144.0,NaN,NaN,NaN,NaN
1586,POL,Europe,Poland,2024-05-09,6662631.0,0.0,15.714,120711.0,0.0,0.0,...,33.1,NaN,6.62,78.73,0.88,39857144.0,NaN,NaN,NaN,NaN
1587,POL,Europe,Poland,2024-05-10,6662631.0,0.0,15.714,120711.0,0.0,0.0,...,33.1,NaN,6.62,78.73,0.88,39857144.0,NaN,NaN,NaN,NaN
1588,POL,Europe,Poland,2024-05-11,6662631.0,0.0,15.714,120711.0,0.0,0.0,...,33.1,NaN,6.62,78.73,0.88,39857144.0,NaN,NaN,NaN,NaN
1589,POL,Europe,Poland,2024-05-12,6662732.0,101.0,14.429,120711.0,0.0,0.0,...,33.1,NaN,6.62,78.73,0.88,39857144.0,NaN,NaN,NaN,NaN